<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-NavisensTest" version="0.0.1">
    <name>NavisensTest</name>

    <description>An Android Cordova plugin</description>
    <license>MIT</license>

    <keywords>cordova,android</keywords>
    <repo>https://github.com/Neonaardvark/TestingCordovaPlugin.git</repo>
    <issue>https://github.com/Neonaardvark/TestingCordovaPlugin\issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/NavisensTest.js" name="NavisensTest">
        <clobbers target="window.plugins.NavisensTest" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="NavisensTest">
                <param name="android-package" value="com.opptin.cordova.plugin.NavisensTest"/>
            </feature>
        </config-file>

        <source-file src="src/android/NavisensTest.java" target-dir="src/com/opptin/cordova/plugin" />
    </platform>
</plugin>
